@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
   html {
      font-family: "Open Sans", sans-serif;
   }
}

#range-slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 11px;
   height: 11px;
   border-radius: 50%;
   background-color: white;
   box-shadow: 0px 0px 1px black;
   overflow: visible;
   cursor: pointer;
}

.collapse-body {
   transition: max-height 0.3s ease-out;
}
